@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   margin: 0;
   padding:0;
   box-sizing:border-box;
}

html,body {
   height: 100%;
   width: 100%;
}

.leaflet-container{
   height: 100vh;
}

.signup .form_input_box{
   border: 2px solid rgba(0, 0, 0, 0.539);
}

.signup .form_input_box::placeholder{
   color: black;
}